In [2]:
import pandas as pd
import numpy as np

In [3]:
ads = pd.read_csv('ads_dataset.tsv',delimiter='\t',encoding='utf-8') #create dataframe
ads[:5]

,isbuyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins,y_buy
0,0,NaN,1,0.0,0.0,0.0,0.0000,106,106,0,0,169,2130,0
1,0,NaN,1,0.0,0.0,0.0,0.0000,72,72,0,0,154,1100,0
2,0,NaN,1,0.0,0.0,0.0,0.0000,5,5,0,0,4,12,0
3,0,NaN,1,0.0,0.0,0.0,0.0000,6,6,0,0,150,539,0
4,0,NaN,2,0.0,0.5,0.0,-101.1493,101,101,0,1,103,362,0

In [4]:
def getDfSummary(input_data):
    stats = pd.DataFrame(input_data.describe(include=[np.number]).transpose()) #stats but only include #s
    number_nan = pd.DataFrame(input_data.isna().sum(),columns = ['number_nan']) #NaN value count
    number_distinct = pd.DataFrame(input_data.nunique(),columns = ['number_distinct']) #unique values
    output_data = pd.concat([stats, number_nan, number_distinct], axis=1) #axis=1: stack to right of first col
    output_data = output_data.drop("count", axis = 1)
    
    return output_data

getDfSummary(ads)

,mean,std,min,25%,50%,75%,max,number_nan,number_distinct
isbuyer,0.042632,0.202027,0.0000,0.0,0.0,0.000000,1.00000,0,2
buy_freq,1.240653,0.782228,1.0000,1.0,1.0,1.000000,15.00000,52257,10
visit_freq,1.852777,2.921820,0.0000,1.0,1.0,2.000000,84.00000,0,64
buy_interval,0.210008,3.922016,0.0000,0.0,0.0,0.000000,174.62500,0,295
sv_interval,5.825610,17.595442,0.0000,0.0,0.0,0.104167,184.91670,0,5886
expected_time_buy,-0.198040,4.997792,-181.9238,0.0,0.0,0.000000,84.28571,0,348
expected_time_visit,-10.210786,31.879722,-187.6156,0.0,0.0,0.000000,91.40192,0,15135
last_buy,64.729335,53.476658,0.0000,18.0,51.0,105.000000,188.00000,0,189
last_visit,64.729335,53.476658,0.0000,18.0,51.0,105.000000,188.00000,0,189
multiple_buy,0.006357,0.079479,0.0000,0.0,0.0,0.000000,1.00000,0,2
multiple_visit,0.277444,0.447742,0.0000,0.0,0.0,1.000000,1.00000,0,2
uniq_urls,86.569343,61.969765,-1.0000,30.0,75.0,155.000000,206.00000,0,207
num_checkins,720.657592,1275.727306,1.0000,127.0,319.0,802.000000,37091.00000,0,4628
y_buy,0.004635,0.067924,0.0000,0.0,0.0,0.000000,1.00000,0,2

In [5]:
%timeit getDfSummary(ads)

55.2 ms ± 426 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [7]:
output_data = pd.DataFrame(getDfSummary(ads))
i=0
for x in output_data['number_nan']: # check if any rows have NaN values by count
    if x > 0:
        print(output_data.index[i])
    i+=1

buy_freq

In [8]:
nan_loc = pd.isnull(ads['buy_freq']) #create array of rows with only NaN values by placing True in row

In [15]:
ads_nan = ads[nan_loc] #create dataframe with rows of T values - all rows with NaN values only
ads_nan[:5]

,isbuyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins,y_buy
0,0,NaN,1,0.0,0.0,0.0,0.0000,106,106,0,0,169,2130,0
1,0,NaN,1,0.0,0.0,0.0,0.0000,72,72,0,0,154,1100,0
2,0,NaN,1,0.0,0.0,0.0,0.0000,5,5,0,0,4,12,0
3,0,NaN,1,0.0,0.0,0.0,0.0000,6,6,0,0,150,539,0
4,0,NaN,2,0.0,0.5,0.0,-101.1493,101,101,0,1,103,362,0

In [17]:
def getDfSummary(input_data):
    stats = pd.DataFrame(input_data.describe(include=[np.number]).transpose()) #stats but only include #s
    number_nan = pd.DataFrame(input_data.isna().sum(),columns = ['number_nan']) #NaN value count
    number_distinct = pd.DataFrame(input_data.nunique(),columns = ['number_distinct']) #unique values
    output_data = pd.concat([stats, number_nan, number_distinct], axis=1) #axis=1: stack to right of first col
    output_data = output_data.drop("count", axis = 1)
    return output_data

getDfSummary(ads_nan) #run function with new array of only rows with NaN values

,mean,std,min,25%,50%,75%,max,number_nan,number_distinct
isbuyer,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0,1
buy_freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52257,0
visit_freq,1.651549,2.147955,1.0000,1.0,1.0,2.000000,84.00000,0,48
buy_interval,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0,1
sv_interval,5.686388,17.623555,0.0000,0.0,0.0,0.041667,184.91670,0,5112
expected_time_buy,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0,1
expected_time_visit,-9.669298,31.239030,-187.6156,0.0,0.0,0.000000,91.40192,0,13351
last_buy,65.741317,53.484622,0.0000,19.0,52.0,106.000000,188.00000,0,189
last_visit,65.741317,53.484622,0.0000,19.0,52.0,106.000000,188.00000,0,189
multiple_buy,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0,1
multiple_visit,0.255602,0.436203,0.0000,0.0,0.0,1.000000,1.00000,0,2
uniq_urls,86.656180,61.996711,-1.0000,30.0,75.0,155.000000,206.00000,0,207
num_checkins,721.848518,1284.504018,1.0000,126.0,318.0,803.000000,37091.00000,0,4570
y_buy,0.003024,0.054904,0.0000,0.0,0.0,0.000000,1.00000,0,2

Data does not appear to be missing at random. It looks like there is an error with the data in locations where it is missing in the 'buy_freq' field. This data is perhaps meant to be a string instead but has been extracted as a numerical value when it shouldn't be. There are a few fields that indicate and correlate perfectly to show that data is missing. These fields include 'isbuyer', 'buy_interval', 'expected_time_buy', and 'multiple_buy'. These fields now only show 1 distinct numerical value (of 0) for all rows of data, when previously they were binary ('isbuyer' and 'multiple_buy') or contained many distinct numbers ('buy_interval' and 'expected_time_buy'). Therefore, the rows with the missing data values are still important to the dataset as a whole.

In [18]:
# Binary variables
i=0
for x in output_data['number_distinct']:
    if x == 2:
        print(output_data.index[i])
    i+=1

isbuyer
multiple_buy
multiple_visit
y_buy